@import '~antd/dist/antd.less';
@import './Config/theme.less';

.footerio {
    background-color: @heading-color;
}

.card {
    background-color: @card-color;
    border: solid;
    border-color: @card-border-color;
    border-width: 1px;
    padding: 2em;
}

.view {
    width: 70%;
}
